*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg , red ,yellow,green);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container p{
    margin-top: 50px;
    font-size: 24px;
    font-weight: 500;
}

#search-bar{
    margin-top: 50px;
    border-radius: 20px;
    background-color: rgb(212, 239, 230);
    padding: 20px;
}

#input-field{
    flex: 1;
    outline: 0;
    background: transparent;
    border: 0;
}

form button{
    cursor: pointer;
}

::placeholder{
    font-size: 14px;
}

#show-more{
    outline: none;
    border: 0;
    display: none;
}