.container{
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin: 0 auto ;
}

img{
    width: 80px;
}

