*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app{
    background-color: rgb(86, 215, 50);
    width: 40%;
    height: 80%;
    margin: auto ;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    border-radius: 28px;
}

.search{
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search img{
    width: 18px;
    padding: 2px;
    border-radius: 50%;
}

.details{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 18px;
}

.weatherScreen{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    display: none;
}